body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2px; }

header {
  text-align: center; }
  header div {
    color: red; }
    header div p {
      color: black; }
    header div div {
      transition: 2s; }

section {
  overflow: hidden; }
  section div {
    tab-size: 1; }
